@import 'variables';

.table_header {
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 10px;
  padding: 4px 15px;
  background: linear-gradient(white, #dfdede);
  border: 1px solid $border-color;
  font-size: 14px;
}

caption {
  background-color: rgb(240, 246, 246);
  border: 1px solid $border-color;
  padding: 10px;
}

p {
  color: rgb(8, 124, 179);
  font-size: 19px;
  margin-bottom: 0;
}

thead {
  background: linear-gradient(white, #dfdede);
  border: none;
  box-shadow: 0px 3px 3px #e6e4e4;
  tr {
    border: 1px solid $border-color;
  }
}

.table>:not(:first-child) {
  border-top: none;
}

form {
  float: left;
  border: 1px solid $border-color;
}

.provider_input {
  width: 115px;
  margin-right: 10px;
}

.providers_block {
  margin-left: 90px;
}

.field {
  margin-bottom: 15px;
  text-align: right;
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  input {
    border-radius: 5px;
    border: 1px solid $border-color;
  }
}

.new_form_button {
  float: right;
  .delete {
    background: linear-gradient(red, #900e0e);
    color: white;
  }
}





